/**
 * colors
 */
$white: #ffffff;


$black: #111;
$extra-light-black: #333;
$light-black: #666;
$extra-black: #999;

$border: #d8d8d8;
$gray: #f7f7f7;
$light-gray: #E4E4E4;
$extra-gray: #f8f8f8;
$extra-light-gray: #F4F4F4;

$light-red: #FFD0D0;

$brown: #88572C;
$extra-brown: #744521;
$light-brown: #A78E8E;

$yellow: #FFD462;

$main-color: #C39A58;

$red: #EC202B
