/* 形状相关 */

/* 普通宽高 */
@mixin size($width, $height, $radius: 0) {
  width: $width + rpx;
  height: $height + rpx;

  @if $radius != 0 {
    border-radius: $radius + rpx;
  }
}

/* 正方形 */
@mixin square($size, $radius: 0) {
  width: $size + rpx;
  height: $size + rpx;

  @if $radius != 0 {
    border-radius: $radius + rpx;
  }
}

/* 圆形 */
@mixin circle($size) {
  width: $size + rpx;
  height: $size + rpx;
  border-radius: $size / 2 + rpx;
}

/* 线条 */
@mixin line($width, $height) {
  width: $width + rpx;
  height: $height + rpx;
  background: $color-line;
}

/* 文本相关 */

/* 显示 n 行 */
@mixin text-line($number) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if $number == 1 {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
  }
}
