
.swiper-box{
  position: fixed;
  width: 100%;
  height: 500rpx;
  bottom: 180rpx;
}
.height-500{
  height: 500rpx;
}

.uni-popup__wrapper-box{
  border-radius: 10rpx;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.uni-button-color{
	color: #FF5500!important;
}