/* 主色 */
$color-primary: #ff5500;
/* 辅色 */
$color-secondary: #ff8800;
/* 成功 */
$color-success: #4cd964;
/* 警告 */
$color-warning: #f0ad4e;
/* 错误 */
$color-error: #dd524d;
/* 白色 */
$color-white: #ffffff;
/* 黑色 */
$color-black: #333333;
/* 深灰 */
$color-grey: #666666;
/* 浅灰 */
$color-lightgrey: #999999;
/* 线条 */
$color-line: #eeeeee;
